@font-face {
    font-family: pixel-font;
    src: url(./fonts/04b_30/04B_30__.TTF);
}

@font-face {
    font-family: pixel-font2;
    src: url(./fonts/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf);
}

body {
    background-image: url(./img/b-ground.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #dddddd;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: transparent;
    color: #dddddd;
    border-color: #dddddd;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #dddddd;
    text-shadow: 0px 0px 5px #dddddd;
    font-size: 20px;
    overflow: hidden;
}

button:hover {
    transition: 1s ease-in-out;
    box-shadow: 0px 0px 60px #dddddd;
}


.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.player-btn {
    display: flex;
    gap: 2rem;
}

.computer-btn {
    display: flex;
    gap: 2rem;
}

#scissors-btn {
    animation: scissors-selection-animation 1s ease-in-out;
}

#rock-btn {
    animation: rock-selection-animation 1s ease-in-out;
}

.reset-btn {
    margin: 0 auto;
    margin-top: 15px;
    display: none;
    width: 120px;
    height: auto;
    border-radius: 10px;
    font-weight: 800;
    font-family: pixel-font2;
    text-shadow: none;
    animation: para-animation 8s;
}

.title {
    margin-bottom: 100px;
    font-family: pixel-font;
    text-shadow: 0px 0px 10px #dddddd;
    font-size: 50px;
    animation: header-animation 2s ease-in;
}

#para {
    margin-top: 70px;
    font-family: pixel-font2;
    font-size: 28px;
    font-weight: 600;
    color: #3cb371;
    text-shadow: 0 0 15px #000;
    animation: para-animation 1s ease-in;
}

#scorePanel {
    font-family: pixel-font;
    font-size: 20px;
    animation: score-animation 1s ease-in;
    margin-top: 30px;
    text-shadow: 0 0 20px #000;
}

#choices {
    font-family: pixel-font;
    word-spacing: 6em;
}

.rock,
.paper,
.scissors {
    width: 54px;
}

.robot-rock,
.robot-paper,
.robot-scissors {
    width: 100px;
}

.computer-btn > button {
box-shadow: 0 0 10px #000;
}

@keyframes header-animation {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    50% {
      opacity: 0.40;
      transform: translateY(8px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes para-animation {
    0% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }

  @keyframes score-animation {
    0% {
        opacity: 0;
        transform: translateX(-30px);
      }
      50% {
        opacity: 1;
        transform: translateX(8px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
  }

  @keyframes rock-selection-animation {
    0% {
        transform: translateX(-300px);
    }
    50% {
        transform: translateX(8px);
    }
    100% {
        transform: translateX(0);
    }
  }

  @keyframes scissors-selection-animation {
    0% {
        transform: translateX(300px);
    }
    50% {
        transform: translateX(-8px);
    }
    100% {
        transform: translateX(0);
    }
  }

@media only screen and (max-width: 900px) {
    body {
        display: flex;
        background-image: url(./img/landscape-bg.jpg);
        justify-content: center;
        align-items: center;
        height: auto;
    }

    button {
        width: 50px;
        height: 50px;
        border-radius: 15px;
    }

    #para {
        margin-top: 135px;
    }

    #scorePanel {
        margin-top: 0;
        font-size: 15px;
    }

    .title {
        margin-bottom: 50px;
    }
    
    .btn {
        display: flex;
        flex-direction: column;
    }

    .reset-btn {
        box-shadow: none;
        display: none;
    }

    .reset-btn:hover {
        box-shadow: none;

    }
    
    .rock,
    .paper,
    .scissors {
        width: 23px;
    }

    .robot-rock,
    .robot-paper,
    .robot-scissors {
        width: 46px;
    }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    body {
        background-image: url(./img/landscape-bg.jpg);
    }

    #para {
        margin-top: 30px;
        font-size: 20px;
    }

    #scorePanel {
        margin-top: 25px;
    }
    
    .title {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .reset-btn {
        box-shadow: none;
        display: none;
    }

    .reset-btn:hover {
        box-shadow: none;
    }
}